# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# MLflow artifacts
mlruns/
mlartifacts/
mlflow_data/

# Jupyter Notebooks
.ipynb_checkpoints

# Data files
data/

# Git related
.git
.gitignore

# IDE files
.idea/
.vscode/
*.swp
*.swo
